on:
  issues:
    types: [opened]

jobs:
  new_issue:
    runs-on: ubuntu-latest
      steps:
        - env:
          GITHUB_TOKEN: ${{ secrets.LINUX-MALWARE }}
          ISSUE_URL: ${{ github.event.issue.html_url }}
          run: |
            gh issue edit $ISSUE_URL --add-label "triage"
